# Chapter files and the generated bundle are copyrighted book content.
# Only the reader shell (docs/index.html) and the build tooling are tracked.
*.html
!docs/index.html
!tools/template.html

.DS_Store
Thumbs.db
